<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <h1> <a href="https://ru.wikipedia.org/wiki/Python"> Python </a> </h1>
     <img src="{{url_for('static', filename='img/Python-logo-notext.png')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> <br>"Простота лучше сложности.<br> Сложность лучше запутанности. <br>Плоский лучше вложенности. <br>Разреженность лучше плотности".
    </p>
<p> <em> Описание </em> </p>
    <p> Python — мультипарадигменный высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности разработчика, читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ.</p>
  <p> Ключевые особенности:</p>
 <ul>
     <li> <dfn>Простота и читаемость:</dfn> Синтаксис Python основан на английском языке, что делает код понятным и легким для изучения.
 </li>
     <li> <dfn>Высокоуровневость:</dfn> Язык абстрагирует от низкоуровневых деталей, что ускоряет разработку и позволяет сосредоточиться на решении задач.
</li>
     <li> <dfn>Интерпретируемость:</dfn> Код выполняется построчно, а не компилируется в машинный код, что обеспечивает быстроту запуска программы.
</li>
     <li> <dfn>Большая стандартная библиотека:</dfn> Встроенный набор инструментов и модулей расширяет возможности языка.
</li>
     <li> <dfn>Мультиплатформенность:</dfn> Python совместим со всеми основными операционными системами.
</li>
 </ul>

<h2> <ins> Обучение Python. </ins> </h2>


<table>
  <tr>
    <td>Основы языка программирования Python</td>
    <td>Система контроля версий Git</td>
    <td>ОС Linux: основы процессов и потоков</td>
    <td>Алгоритмы и структуры данных</td>
    <td>Базы данных</td>
    <td>Расширенные возможности Python</td>
    <td>Фреймворк Flask</td>
    <td>Фреймворк Django</td>
  </tr>
  <tr>
    <td>100%</td>
    <td>30%</td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>100%</td>
    <td>100%</td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>Выполнено </td>
    <td>Необходимо найти интересующий общий проект</td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>
</table>

<p>
  Следующий старт обучения - 12 октября 2025 года.
  <time datetime="2025-10-12"></time>
</p>
<a href="https://synergyacademy.ru/course/python-razrabotchik" target="_blank">
     <br> <button> <b> <mark> Нажмите, чтобы перейти на сайт </mark> </b> </button>
</a>
</body>
</html>